.img-card  {
    width: 200PX;
    
    margin-bottom: 0px;
}

.img-card img {
    width: 100%;
    border-radius: 30px 30px 0 0 ;
}

.card-text{
    background-color:#f3df85 ;
    width: 200PX;
    margin-top: 0px;
    border-radius: 0 0 30px 30px ;
    text-align: center;

  
}

.etichetta{
    display: flex;
    color: #612406;
}

.text{
    flex: 1 0 60%; 
    vertical-align:center;
}

.text p:nth-child(1){
    font-size: 15px;    
}
.text p:nth-child(2){
    font-size: 12px;    
}


.price{
    flex: 1 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 10px 0 ;
    border-radius: 10px;
    border: none;
    background-color: #F3DF85;
}