<div class="container">
  <div class="bg-secondary text-center mt-3">
    <img width="200" height="200" src="../../../../assets/loghi/ford.png">
    <h1 class="fs-2 text-warning "> Ecco le nostre ford </h1>
  </div>
</div>

<div class="container">


  <div class="row gy-2">
    <div class="col-12 col-md-6" *ngFor="let i of fordcarsArr">
      <div class="card" [ngClass]="{

        'text-bg-success':i.available,
        'text-bg-danger':!i.available,
      }">
        <img [src]="i.modelImage" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-center"><span class="fs-4 text-warning">Modello:</span> {{i.model}}</h5>
          <p class="card-text"><span class="fs-4 text-warning">Prezzo:</span>{{i.price | currency : 'EUR'}}</p>
          <p class="card-text"><span class="fs-4 text-warning">Anno:</span>{{i.year}}</p>

        </div>
      </div>

    </div>

  </div>
