

/****************************** GENERAL/index ******************************/
body{
    background-color: #141414;
}

/************************** NAV/BAR-INDEX/SETTING **************************/
#navbar{
    background-color: #141414; 
}

#toggler-nav{
   border-color: #fff;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: #fff;
}

.items-little{
    border: 1px solid #878787;
}

.items-little i {
   color:#878787
}

/************************** NAV/BAR-INDEX/HOVER **************************/
.nav-link{
    transition: color 0.5s;
}

.nav-link:hover{
    color: red;
}
/************************** INDEX/EFFETTO-HOVER **************************/
#main img{
    transition: transform 0.5s;
}

#main img:hover{
    transform: scale(1.2);
}



/************************** FOOTER-INDEX **************************/
.bi{
    color: #808080;
}

#footer a {
    color: #808080;
   
}

#footer p {
    color: #808080;
}

/************************** INDEX-FOOTER/EFFETTO-HOVER **************************/
#footer a{
    transition: color 0.5s;
}

#footer a:hover{
    color: red;
}


#footer i{
    transition: color 0.5s;
}

#footer i:hover{
    color: red;
}

#footer button{
    transition: background-color 0.5s;
}

#footer button:hover{
    background-color: red;
}




/************************** GENERAL-PROFILE **************************/

.first-items-form input::placeholder {
    color: #fff; 
}

.second-items-form button{   
    font-size: 12px;
}

/****************************** GENERAL/SETTING ******************************/
  #body{
    background-color: #fff;
  }

/************************************** CLASS-BY-ME **************************************/
    
    /**************** GENERAL ****************/
    .font-weight-bold {
        font-weight: bold;
    }

    .weight-400{
        font-weight: 400;
    }
    
    .margin-auto-0{
        margin: 0 auto;
    }


    .max-width-md{
        max-width: 500px;
    }
     
    .max-width-lg{
        max-width: 1000px;
    }
    
    /**************** INDEX ****************/
    .nav-link{
        color: #fff;
        text-decoration: none;
        padding: 8px;
    }

    /**************** PROFILE ****************/
    .hr-w{
        color: #fff;
    }

    .w-85{
        width: 85%;
    }
    
    .bg-form{
        background-color:#666666;
    }
    
    .font-cheked{
        font-size: 13px;
    }
    
    .custom-btn {
        width: 100%; 
    }

    .letter-spacing{
        letter-spacing: 2px;
    } 
    
    /**************** SETTING ****************/
    .t-ciao{
        font-size: 15px;  
    }

    .fs-7{
        font-size: 15px; 
    }

    .fs-8{
        font-size: 12px;
    }

    .fs-9{
        font-size: 10px;
    }

    .hr-black{
        
        color: #000000;
    }

     
    .border{
        background-color:#dee2e677 ;
    }